@font-face {
  font-family: "Pacifico-Regular";
  src: url(Pacifico-Regular.ttf);
}
@font-face {
  font-family: "Fredoka";
  src: url(Fredoka-VariableFont_wdth,wght.ttf);
}
@font-face {
  font-family: "CedarvilleCursive";
  src: url(CedarvilleCursive-Regular.ttf);
}

/*Background*/
body{
  background-image: url(media/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: white;
}

 html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  margin: 0;
  padding: 0;
}
/*navigation*/
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 40px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: "Fredoka", sans-serif;
  font-weight: light;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: light;
  font-size: 16px;
}

.navbar img {
  width: 40px;
  height:40px;
}

a:hover{
  color: rgb(255, 255, 255);
}

/*text area yipee*/

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-style: normal;
}

.cedarville-cursive-regular {
  font-family: "CedarvilleCursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.websitetitle{
  position: relative;
  top: 50px;
  font-family: "pacifico", cursive;
  text-align: center;
  display: block;
  font-weight: lighter;
  font-style: italic;
  left: -2%;
  
  color: rgb(0, 0, 0);
}

.maintext1{ 
  user-select: none; 
  font-family: "Pacifico", cursive; 
  font-weight: normal; color: rgb(0, 0, 0); 
  text-align: center; 
  display: block; 
  font-size: 40px; 
  position: relative;
  z-index: 6;
} 
.pink{ 
  color: rgb(245, 142, 204); 
} 
.blue{ 
  color: rgb(150, 179, 245); 
} 
.text1{ 
  font-family: "Fredoka"; 
  font-weight: bold; 
}

.subtext1{
  font-family: "Fredoka", sans-serif;
  text-align: center;
  font-weight: light;
  position: relative;
  top: -30px;
}

h4{
  color: black;
  font-weight: lighter;
}

/*button*/

.Buttoncase {
  position: relative;
  width: 400px;
  margin: 0 auto;
  bottom: 20px;
  overflow: visible;
  transform: translateX(34%)
}

.button1{
  font-family: "Fredoka", sans-serif;
  width: 80px;
  height: 40px;
  background-color: rgb(187, 84, 255);
  text-align: center;
  border-radius: 30px;
  display: flex;
  z-index: 6;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform-origin: center;
  overflow: visible;
  text-decoration: none;
  color: white;
}
.button1:hover{
  border-radius: 15px;
  transform: scale(1.2);
  background-color: rgb(236, 44, 153);
}
.button1:active{
  transform: scale(1.1);
  background-color: rgb(176, 25, 110);

}
